.display-1{
    color: rgb(208, 94, 94);
}
.btn-primary{
    background-color: rgb(152, 233, 233); 
}
input,select{
    margin: 1rem 0 0 1rem;
    width: 41rem!important;
}
.title{
    display:flex;
    justify-content: space-between;
    background-color: #dedede;
    border-radius: 5px;
    padding: 1rem;
}
.btn-container{
    display:flex;
    justify-content: flex ;
}